.meet{
    font-family: 'Nunito sans', sans-serif;
    font-size: 13px;
}

.best {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

.model_view {
    text-align: center;
    margin-left: 10px;
}

.img_box {
    box-sizing: border-box;
    border: 1px solid grey;
    padding: 40px 5px 40px 5px;
    cursor: pointer;
}
.find_more {
    font-family: 'Nunito sans', sans-serif;
    font-family: 400;
    font-size: 13px;
    text-decoration: none;
    padding: 12px 25px 12px 25px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 0;
}

find_hover:hover{
    color: red;
    background-color: red;
}